@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}
/* Garante que todos os elementos dentro de boding tenham colisão, e não ultrapassem a div maior */
body * {
    box-sizing: border-box;
}

.main-div {
    /* vw se refere a Viewport Width e vh a Viewport height */
    width: 100vw;
    height: 100vh;
    background-color: #201b2c;
    display: flex;
    /* Justify content é usado para o eixo X */
    justify-content: center;
    /* Align-items é usado para o eixo Y */
    align-items: center;
}
.left-div {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* Flex-direction alinha os itens dentro de uma flex, possibilitando que elementos
    fiquem um embaixo do outro(Column) Mesmo quando o display for flex (que centraliza um ao lado do outro)*/
    }
    
.left-div>h1 {
    color: #77ffc0;
    font-size: 3vw;
    }

.dragon-bg {
    width: 40vw;
}
.right-div {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
.card-login {
    /* Utilizando porcentagem no lugar de vw/vh pra ser relativo ao tamanho da div */
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2f2841;
    flex-direction: column;
    padding: 30px 35px;
    /* Suavizar as bordas quadradas deste card */
    border-radius: 20px;
    /* Sombras no Eixo X - Eixo Y - Blur - Cor da sombra */
    box-shadow: 0px 10px 40px #00000056;
}
.card-login>h1 {
    margin: 0;
    color: #00ff88;
    font-weight: 800;
    text-transform: uppercase;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
    /* Quando flex-direction é usado, justify content e Align items tem
    seus eixos invertidos. 
    Portanto, align-items modifica o eixo X ao invés do eixo Y*/
}

.textfield>input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    font-size: 12pt;
    color: #f0ffffde;
    box-shadow: 0px 10px 40px #00000056;
    box-sizing: border-box;
    /* outline é usado pra remover o efeito de "caixa" ao clicar no input */
    /* boxsizing é usado pra limitar o conteúdo dentro de sua "caixa"(cria colisão) */
}
.textfield>label {
    margin-bottom: 10px;
    font-weight: 800;
    color: #f0ffffde;
}

/* :: Após acessar o Input serve pra acessar uma propriedade deste */
.textfield>input::placeholder {
    color: #f0ffff94;
}

.btn-login {
    width: 80%;
    padding: 16px 0px;
    margin: 25px;
    border-radius: 10px;
    letter-spacing: 2px;
    font-weight: 800;
    box-shadow: 0px 10px 40px -12px #00ff8052;
    border: none;
    outline: none;
    text-transform: uppercase;
    background: #00ff88;
    cursor: pointer;
    color: #2b134b;
}
/* Enquanto a largura na tela for de até 950px, adicione os elementos: */
@media only screen and (max-width: 950px) {
    .card-login {
        width: 85%;
    }
}

/* Para celulares e telas menores, os elementos terão as seguintes estilizações:*/
@media only screen and (max-width:600px) {
    .main-div {
        flex-direction: column;
    }

    .left-div {
        width: 100%;
        height: auto;
    }

    .left-div>h1 {
        display: none;
    }

    .right-div {
        width: 100%;
        height: auto;
    }

    .card-login {
        width: 85%;
    }

    .textfield>input::placeholder {
        font-size: 10pt;
    }

    .dragon-bg {
        width: 70vw;
    }
}